.drinks-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.drink-photo {
  height: 200px;
  width: auto;
}

.single-drink-container {
  height: 300px;
  max-width: 20%;
  border: 1px solid;
  border-radius: 5px;
  /* margin-top: 25px; */
}

.drink-text-div {
  width: 200px;
}
