.drinks-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
}

.drink-photo {
  height: 200px;
  width: 200px;
}

.single-drink-container {
  height: 300px;
  max-width: 20%;
  border: 1px solid;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0px 4px 12px #BEE3DB;
  background-color:#f8ede3;
  cursor: pointer;
}

.drink-text-div {
  width: 200px;
  font-family: Helvetica;
}

.drink-container-name {
  text-align: center;
  font-family: "Helvetica";
  font-size: 25px;
  color: #4b778d
}

body {
  /* background: linear-gradient(0.25turn, #555B6E, #89B0AE, #BEE3DB); */
  /* background: #284E78; */
  background: black;
}

.user-label {
  font-family: "Helvetica";
  text-align: center;
  font-size: 40px;
  color: #555B6E;
}
