.drinks-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
}

.drink-photo {
  height: 200px;
  width: 200px;
}

.single-drink-container {
  height: 300px;
  max-width: 20%;
  border: 1px solid;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0px 4px 12px #BEE3DB;
  background-color:#f8f5f1;
  cursor: pointer;
}

.drink-text-div {
  width: 200px;
  font-family: Helvetica;
}

.drink-container-name {
  text-align: center;
}

body {
  /* background-color: #a7bbc7; */
  /* background-color: #f2dac3; */
  /* background-color: #f1ca89 */
  background-color: #555B6E;
}
