/* styling for the modal */

.drinkcard-instructions {
  width: 500px;
}


.drinkcard-photo{
  max-width: 500px;
}

.drinkcard-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(0.25turn, #d8e3e7, #f8ede3, #f7f3e9);
}

.div2 {
  padding-left: 2%;
}

.fa-heart {
  cursor: pointer;
}

i {
  color: red;
  position: absolute;
  right: 47%;
  bottom: 8%;
  font-size: 24px;
}

.drink-delete-button {
  position: absolute;
  right: 3%;
  bottom: 8%;
}
