.logged-out-container, .logged-in-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* position: fixed; */
  list-style: none;
  width: 100%;
  /* background-color: white; */
}

.searchbar-div{
  position: absolute;
  left: 46%;
  top: 5%;
}

.create-drink-button {
  position: absolute;
  margin-left: 500px;
}


.drinks-input-list {
  background-color: white;
}

.search-offer {
  background-color: white;
}

.navbar-container {
  width: 100%;
  height: 75px;
  list-style: none;
  background-color: #f4f9f9;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Allan';
  /* color: #89B0AE; */
  color: #555B6E
}


.navbar-navlink {
  text-decoration: none
}
