.logged-out-container, .logged-in-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* position: fixed; */
  list-style: none;
  width: 100%;
  /* background-color: white; */
}

.searchbar-div{
  position: absolute;
  background-color: white;
  left: 46%;
  top: 5%;
}

.create-drink-button {
  position: absolute;
  margin-left: 25%;
  background-color: inherit;
  box-shadow: inset 0 0 0 0 #555B6E;
  border-radius: 5px;
  outline: none;
  transition: ease-out;
}

.create-drink-button:hover{
  box-shadow: inset 300px 0 0 0 #555B6E;
	color: #f4f6ff;
	cursor: pointer;
}


.drinks-input-list {
  background-color: white;
}

.navbar-container {
  width: 100%;
  height: 75px;
  list-style: none;
  /* background-color: #f4f9f9; */
  /* background: linear-gradient(0.25turn, #f7f3e9, #f8ede3, #d8e3e7) */
  background: linear-gradient(0.25turn, #d8e3e7, #f8ede3, #f7f3e9)
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Allan';
  margin-left: 2%;
  /* color: #89B0AE; */
  color: #555B6E
}

.navbar-text{
  position: absolute;
  font-size: 30px;
  font-family: 'Allan';
  margin-left: 88%;
  /* color: #89B0AE; */
  color: #555B6E;
  margin-top: 1%
}


.navbar-navlink {
  text-decoration: none;
  font-family: "Allan";
  font-size: 20px;

}

#profile-link {
  margin-left: 30%;
  margin-top: 2%;
}

.user-profile-div {
  width: 200px;
}

.search-offer {
  background-color: white;
}

.search-offer {
  text-decoration: none;
}

.demo-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  font-family: "Allan"
}
