.logged-out-container, .logged-in-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  list-style: none;
  width: 100%;
  /* margin-bottom: 2200px; */
  /* background-color: white; */
}

.searchbar-div{
  position: absolute;
  left: 46%;
  top: 5%;
}

.searchBar {
  position: fixed;
}

.drinks-input-list {
  background-color: white;
}

.search-offer {
  background-color: white;
}

/* .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  list-style: none;
  width: 100%;
  margin-bottom: 2200px;
  background-color: white;
} */
