.searched-drink-instructions {
  width: 500px;
  font-family: "Allan";
}


.searched-drink-photo{
  max-width: 500px;
}

.searched-drink-container {
  font-family: "Allan";
  background: linear-gradient(0.25turn, #d8e3e7, #f8ede3, #f7f3e9);
  margin-top: 5%;
  width: 500px;
  position: absolute;
  margin-left: 37%;
}
